In [ ]:
# Transformaciones: función flatMap
import findspark
findspark.init()
from pyspark.sql import SparkSession

import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

rdd = sc.parallelize([1,2,3,4,5])

rdd_cuadrado = rdd.map(lambda x: (x, x ** 2)) # retorna una tupla con el valor de x y el cuadrado de x
rdd_cuadrado.collect()
# queremos aplanar la lista y que no lo retorne en tuplas sino en valores independientes

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# flatMap aplana o hace un flaten de cualquier colección del rdd de entrada
rdd_cuadrado_flat = rdd.flatMap(lambda x: (x, x ** 2))

# vemos que no retorna un arreglo de tuplas, sino directamente
rdd_cuadrado_flat.collect()

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

In [3]:
rdd_texto = sc.parallelize(['jose', 'juan', 'lucia'])

rdd_mayuscula = rdd_texto.flatMap(lambda x: (x, x.upper()))

rdd_mayuscula.collect()

['jose', 'JOSE', 'juan', 'JUAN', 'lucia', 'LUCIA']