# Estructuras de datos: Tuplas

## Tupla

La última estructura que veremos son las tuplas. Éstas son un conjunto de elementos, que pueden ser de distintos tipos, separados por comas y escritos entre paréntesis, `()`.

Las tuplas son:
- hetereogéneas: los elementos pueden ser de distinto tipo en una misma tupla
- no mutables: los elementos no pueden ser modifcados una vez la tupla ha sido creado

Un ejemplo de tupla sería

In [ ]:
# si conserva el orden en el que los elementos son colocados, pero se pueden modificar
t = ("Juan", 32, "profesor", True)
print(t)

('Juan', 32, 'profesor', True)

Podemos declarar una tupla sin necesidad indicar sus elementos entre paréntesis

In [ ]:
t = "Juan", 32, "profesor", True
type(t)

tuple

Podemos declarar tuplas con la función `tuple()`

In [ ]:
t = tuple(("Juan", 32, "profesor", True))
type(t)

tuple

In [ ]:
# creamos una tupla en base a una lista
tuple([1,2,3])

(1, 2, 3)

# Ejercicio

Vamos a pedirle al usuario el número de números enteros que va a introducir por teclado. Para cada uno de esos números, vamos a crear una tupla donde la primera entrada sea el número entero y, la segunda, la palabra "positivo", "negativo" o "cero" según el signo del número entero. Vamos a guardar todas las tuplas en una lista y las vamos a mostrar.

In [ ]:
n = int(input("¿Cuántos números enteros vas a introducir? "))
nums = []

for _ in range(n):
  sign = ""
  num = int(input())
  if num > 0:
    sign = "positivo"
  elif num == 0:
    sign = "cero"
  else:
    sign = "negativo"
  # agregamos una tupla a la lista
  nums.append((num, sign))

print(nums)

[(4, 'positivo'), (8, 'positivo')]

# Ejercicio

Vamos a pedirle al usuario números enteros del 1 al 10 hasta que introduzca el 0. Para cada uno de esos números, vamos a crear una tupla donde la primera entrada sea el número entero y, la segunda, la palabra "suspenso", "aprobado", "notable" o "excelente" según el intervalo al que pertenezca el número entero. Vamos a mostrar la tupla recién creada al usuario.

Las diferentes categorías son: 
* suspenso si la nota pertenece a [1, 5)
* aprobado si la nota pertenece a [5, 7)
* notable si la nota pertenece a [7, 9)
* excelente si la nota pertenece a [9, 10]

In [2]:
num = int(input("Introduce un número entero del 1 al 10 "))

while num != 0:
  grade = ""
  if num < 1:
    print("Debes introducir un número entero entre 1 y 10")
  elif num < 5:
    grade = "Suspenso"
    print((num, grade))
  elif num < 7:
    grade = "Aprobado"
    print((num, grade))
  elif num < 9:
    grade = "Notable"
    print((num, grade))
  elif num <= 10:
    grade = "Excelente"
    print((num, grade))
  else:
    print("Debes introducir un número entero entre 1 y 10")

  num = int(input("Introduce un número entero del 1 al 10 "))

(1, 'Suspenso')
(5, 'Aprobado')
(9, 'Excelente')
(8, 'Notable')
(2, 'Suspenso')

# Ejercicio

Dada una frase introducida por el usuario, vamos a crear una lista con 3 tuplas de 2 entradas. La primera tupla contendrá el número de vocales; la segunda, el número de consonantes; y la última, el número de espacios en blanco. Para cada tupla, la primera entrada será un string explicativo y, la segunda, el valor correspondiente.

In [3]:
s = input()
s = s.lower()
vowels = ["a", "e", "i", "o", "u"]

vowels_count = 0
consonants_count = 0
blanks_count = 0

# calculamos la cantidad de vocales, consonantes y espacios en blanco
for c in s:
  if c in vowels:
    vowels_count += 1
  elif c.isalpha(): # pertenence al alfabeto, ya sabiendo que no es una vocal por el if anterior
    consonants_count += 1
  elif c == " ":
    blanks_count += 1

info = [("Vocales", vowels_count), ("Consonantes", consonants_count), ("Espacios", blanks_count)]
print(info)

[('Vocales', 4), ('Consonantes', 5), ('Espacios', 1)]

### Elementos de una tupla

Podemos acceder a los elementos de una tupla mediante el índice que ocupan con la sintaxis de claudator, `[]`

In [ ]:
t = 1, "a", 2, "e", 3, "i", 4, "o", 5, "u"
# accedemos un elemento como una lista
print(t[0])
print(t[5])

1
i

Al igual que con las listas, podemos acceder a los elementos de tuplas mediante el uso de índices negativos

In [ ]:
print(t[-1]) # ultimo elemento
print(t[-4]) # 4to elemento contando desde el final

u
4

Para acceder a múltiples entradas de una tupla a la vez, podemos utilizar la función `:` para indicar un intervalo de índices.

In [ ]:
print(t[2:6]) # podemos acceder a un intervalo de la tupla
print(t[:5]) # del 0 al 5 sin incluir al 5.
print(t[5:])

(2, 'e', 3, 'i')
(1, 'a', 2, 'e', 3)
('i', 4, 'o', 5, 'u')

**Observación.** Recordad que
- el índice indicado tras los dos puntos, `:`, nunca es incluido.
- si no se indica índice a la izquierda de `:`, se considera desde el índice 0 hasta el inmediatamente anterior al indicado a la derecha de `:`
- si no se indica índice a la derecha de `:`, se considera desde el índice indicado a la izquierda de `:` hasta el último elemento

También podemos usar índices negativos con la función `:`

In [ ]:
# vamos desde el -5 al final de la tupla (-1)
print(t[-5:-1])

('i', 4, 'o', 5)

Para saber si un elemento pertenece a una tupla, podemos usar la palabra clave `in`

In [ ]:
# para saber si un elemento pertenece a la tupla
print(6 in t)
print("i" in t)

False
True

Hemos dicho que las tuplas son inmutables. Esto es, una vez creada la tupla, sus elementos no pueden ser modificados

In [ ]:
t = "Cereza", "Manzana", "Pera"
# son inmutables
t[1] = "Kiwi"

TypeError: ignored

Una alternativa sería convertir a lista, realizar la modificación y reconvertir a tupla

In [ ]:
t = "Cereza", "Manzana", "Pera"
# convertimos la lista en tupla
t = list(t)
# modicamos el valor
t[1] = "Kiwi"
# reconvertimos a tupla
t = tuple(t)

# no es muy conveniente hacer estas conversiones
# una tupla usa menor espacio de memoria ya que no crece
print(t)
print(type(t))

('Cereza', 'Kiwi', 'Pera')
<class 'tuple'>

# Ejercicio

Vamos a pedirle al usuario una asignatura ("Mates", "Lengua", "Historia", "Informática" o "Música") y la nota en dicha asignatura hasta que introduzca una asignatura diferente a las indicadas. El usuario puede repetir una asignatura tantas veces como quiera. La nota tendrá que ser del 1 al 10. Guardaremos la información (asignatura, nota) en una tupla. Las tuplas serán guardadas en una lista. Finalmente, para cada asignatura, vamos a mostrar la nota media.

In [ ]:
subjects = ["Mates", "Lengua", "Historia", "Informática", "Música"]
grades = []

print(subjects)
s = input("Indica la asignatura: ")
while s in subjects:
  grade = int(input("Introduce la nota entre 1 y 10: "))
  grades.append((s, grade))
  s = input("Indica la asignatura: ")

# diccionario para guardar las notas
means = {"Mates": [],
          "Lengua": [],
          "Historia": [],
          "Informática": [],
          "Música": []}

# separamos las notas por asigantura
for item in grades:
  means[item[0]].append(item[1])

# calculamos las medias
print("\n=== NOTAS MEDIAS ===")
for key, val in means.items():
  print("La nota media de {} es {}".format(key, "desconocida" if len(val) == 0 else sum(val) / len(val)))

## El método de unpacking

Podemos extraer los valores de una tupla en variables. Este proceso es conocido como **unpacking**

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja"
print(type(fruits))
# extraemos los valores de una tupla, como la destructuración en JS
# Con paréntesis, auqneu es opcional
(fruit1, fruit2, fruit3, fruit4) = fruits

print(fruit1)
print(fruit2)
print(fruit3)
print(fruit4)

<class 'tuple'>
Cereza
Kiwi
Pera
Naranja

Funciona igual si no declaramos las variables entre paréntesis.

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja"
print(type(fruits))

# Sin paréntesis
fruit1, fruit2, fruit3, fruit4 = fruits

print(fruit1)
print(fruit2)
print(fruit3)
print(fruit4)

<class 'tuple'>
Cereza
Kiwi
Pera
Naranja

**¡Cuidado!** El número de variables debe coincidir con el número de elementos de la tupla. De lo contrario, debe usarse un asterisco para guardar los elementos restantes en una lista.

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja"

# el valor de *restFruits es el resto de valores de la tupla, pero como lista
(fruit1, fruit2, *restFruits) = fruits

print(fruit1)
print(fruit2)
print(restFruits)
print(type(restFruits))

Cereza
Kiwi
['Pera', 'Naranja']
<class 'list'>

**Observación.** Si el asterisco es añadido en alguna variable que no sea la última, `Python` almacenará tantos elementos en la lista como sea necesario para que el número de elementos restantes coincida con el número de variables restantes.

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja", "Melocotón", "Sandía", "Melón"

# aqui *restFruits guarda los valores necesarios para cubrir los valores faltantes
# extraemos el primer valor y los dos ultimos
(fruit1, *restFruits, fruit2, fruit3) = fruits

print(fruit1)
print(restFruits)
print(fruit2)
print(fruit3)

Cereza
['Kiwi', 'Pera', 'Naranja', 'Melocotón']
Sandía
Melón

In [ ]:
# _ indica que esa variable no será retornada, para no guardarla en memoria
# en este ejemplo, solo necesitamos el primero y ultimo elemento
punto = (1, 2, 3)
x, _, z = punto
print(x + z)

4

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja", "Melocotón", "Sandía", "Melón"

# tambien se puede usar con el *
(fruit1, *_, fruit2, fruit3) = fruits

print(fruit1)
print(fruit2)
print(fruit3)

Cereza
Sandía
Melón

# Ejercicio

Vamos a pedirle al usuario el número de puntos de un plano que quiere introducir. Para cada punto, vamos a solicitarle las coordenadas x e y. Guardaremos las coordenadas (x, y) en tuplas de tamaño 3, donde la última entrada se corresponde con el cuadrante al que pertenece dicho punto. Todas las tuplas de tamaño 3 serán guardadas en una lista. Finalmente, mostraremos todas las tuplas de tamaño 3 creadas, con el formato "El punto ({x}, {y}) pertenece al cuadrante {cuadrante}"

In [ ]:
n = int(input("¿Cuántos puntos vas a introducir? "))
points = []

for i in range(n):
  x = float(input("Indica la coordenada x = "))
  y = float(input("Indica la coordenada y = "))

  if x >= 0 and y >= 0:
    quadrant = "I"
  if x <= 0 and y >= 0:
    quadrant = "II"
  if x <= 0 and y <= 0:
    quadrant = "III"
  if x >= 0 and y <= 0:
    quadrant = "IV"
  if x == 0 and y == 0:
    quadrant = "center"

  points.append((x, y, quadrant))

for point in points:
  x, y, quadrant = point
  print("El punto ({}, {}) pertenece al cuadrante {}".format(x, y, quadrant))

## Concatenación de tuplas

Podemos concatenar tuplas con la función `+`, aunque el resultado será una nueva tupla, ya que recordemos éstas no pueden ser modificadas

In [ ]:
t1 = 1, 3
t2 = 2, 4

# unimos tuplas, creamos una nueva tupla, no modificamos ninguna
t1 + t2

(1, 3, 2, 4)

## Repetición de tuplas

Podemos repetir tuplas un número $n$ de veces con la función `*`

In [ ]:
t = ("a", "b", "c")
t * 5 # generamos una nueva tupla

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Tamaño de una tupla

Podemos calcular el número de elementos de una tupla con la función `len()`

In [ ]:
t = "Juan", 32, "profesor", True
# cantidad de elementos de una tupla
len(t)

4

**¡Cuidado!** Si quisiésemos crear una tupla de un solo elemento, tendríamos que hacer lo siguiente

In [ ]:
# tupla de una solo elemento, siendo obligatoria colocar la ,
t1 = ("manzana", )
print(type(t1))

# Lo siguiente no es una tupla
# lo considera una string
t2 = ("manzana")
print(type(t2))

<class 'tuple'>
<class 'str'>

## Bucles y tuplas

Podemos iterar una tupla utilizando un bucle `for`

In [ ]:
fruits = "Cereza", "Kiwi", "Pera", "Naranja", "Melocotón", "Sandía", "Melón"

# iteramos la tupla, este si mantiene el orden
for fruit in fruits:
  print(fruit)

Cereza
Kiwi
Pera
Naranja
Melocotón
Sandía
Melón

También podemos usar la técnica de unpacking en los bucles

In [ ]:
t = ("cereza", "roja"), ("kiwi", "amarillo"), ("pera", "verde"), ("naranja", "naranja")

# t es una tupla de tuplas, donde se puede destructurar los valores de las tuplas internas
for fruit, color in t:
  if fruit == "kiwi":
    print("El color del", fruit, "es", color)
  else:
    print("La {} es {}".format(fruit, color))

La cereza es roja
El color del kiwi es amarillo
La pera es verde
La naranja es naranja

## Tuplas y el resto de estructuras de datos

Una tupla puede contener listas, diccionarios, conjuntos y tuplas

In [ ]:
t = [4, 5, 6], {"vowels": ("a", "e", "i", "o", "u")}, {1, 2, 3}, ("x", "y")
type(t)

tuple

Asimismo,

- las listas pueden contener diccionarios, conjuntos, tuplas y otras listas
- los diccionarios pueden contener listas, conjuntos, tuplas y otros diccionarios
- los conjuntos no pueden contener ni listas, ni diccionarios, ni tuplas, ni siquiera otros conjuntos

In [ ]:
l = [{"vowels": ("a", "e", "i", "o", "u")}, {1, 2, 3}, ("x", "y"), [4, 5, 6]]
type(l)

list

In [ ]:
dicc = {"list": [4, 5, 6], "set": {1, 2, 3}, "tuple": ("x", "y"), "dict": {"vowels": ("a", "e", "i", "o", "u")}}
type(dicc)

dict

In [ ]:
# un conjunto no puede tener una lista, diccionario, tupla ni otros conjuntos
set1 = {[4, 5, 6], {"vowels": ("a", "e", "i", "o", "u")}, ("x", "y"), {1, 2, 3}}

TypeError: ignored

Dado cualquier objeto iterable en `Python`, lo podemos convertir a tupla con la función `tuple()`

In [ ]:
print(tuple(l)) # A partir de una lista
print(type(tuple(l)))

# convertimos un diccionario a tupla
print(tuple(dicc)) # A partir de un diccionario solo se guardan las claves en la tupla
print(type(tuple(dicc)))

print(tuple({1, 2, 3, 4, 5})) # A partir de un conjunto
print(type(tuple({1, 2, 3, 4, 5})))

({'vowels': ('a', 'e', 'i', 'o', 'u')}, {1, 2, 3}, ('x', 'y'), [4, 5, 6])
<class 'tuple'>
('list', 'set', 'tuple', 'dict')
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>

## La función `zip()`

La función `zip()` sirve para juntar listas en tuplas

In [ ]:
objects = ["libreta", "pluma", "portaminas", "pack_minas"]
price = [5.00, 3.30, 1.29, 0.50]
items = zip(objects, price) # relaciona los elementos segun su posición, uniendolos en tuplas
print(items) # retorna un zip object con la posición de memoria que ocupa la variable

<zip object at 0x000002BE2363B280>

Podemos convertir el resultado de una función `zip()` a una lista

In [ ]:
items = zip(objects, price)
# converimos a una lista, esta resulta ser una lista de tuplas
list(items)

[('libreta', 5.0), ('pluma', 3.3), ('portaminas', 1.29), ('pack_minas', 0.5)]

Podemos convertir el resultado de una función `zip()` a un diccionario

In [ ]:
items = zip(objects, price)
# tambien puede ser un diccionario
dict(items)

{'libreta': 5.0, 'pack_minas': 0.5, 'pluma': 3.3, 'portaminas': 1.29}

**¡Cuidado!** Hay que crear de nuevo el objeto `zip()`, pues el resultado de esta función es un iterador y, una vez ha sido convertido a lista, diccionario o tupla, se considera una iteración completa y no será capaz de generar más valores.

Podemos convertir el resultado de una función `zip()` a una tupla:

In [ ]:
items = zip(objects, price)
# convertimos otra tupla
tuple(items)

(('libreta', 5.0), ('pluma', 3.3), ('portaminas', 1.29), ('pack_minas', 0.5))

In [ ]:
# el objeto zip se puede iterar y destructurar porque los elementos son tuplas
for obj, pr in zip(objects, price):
    print("El objeto {} cuesta {} €.".format(obj, pr))

El objeto libreta cuesta 5.0 €.
El objeto pluma cuesta 3.3 €.
El objeto portaminas cuesta 1.29 €.
El objeto pack_minas cuesta 0.5 €.

# Ejercicio

Dada una lista de palabras, vamos a crear otra lista del mismo tamaño que guarde la primera letra de cada palabra en la posición correspondiente. Por último, con la función `zip()` crearemos una tupla de tuplas con la palabra en la primera entrada y la letra con la que empieza, en la segunda.

In [ ]:
words = ["ola", "caracola", "piña", "playa", "barbacoa", "ventana", "mosca"]
first_letters = []

for w in words:
  # optenemos la primera letra de cada palabra
  first_letters.append(w[0])

print(tuple(zip(words, first_letters)))

(('ola', 'o'), ('caracola', 'c'), ('piña', 'p'), ('playa', 'p'), ('barbacoa', 'b'), ('ventana', 'v'), ('mosca', 'm'))