<div class="article-asset-container"><ol><li><p>Cree un RDD llamado importes a partir del archivo adjunto a esta lección como recurso.</p><p></p><ol><li><p>¿Cuántos registros tiene el RDD importes?</p><p></p></li><li><p>¿Cuál es el valor mínimo y máximo del RDD importes?</p><p></p></li><li><p>Cree un RDD top15 que contenga los 15 mayores valores del RDD importes. Tenga en cuenta que pueden repetirse los valores. Por último, escriba el RDD top15 como archivo de texto en la carpeta data/salida.</p><p></p></li></ol></li><li><p>Cree una función llamada factorial que calcule el factorial de un número dado como parámetro. Utilice RDDs para el cálculo.</p></li></ol></div>

In [1]:
# Acciones: funciones take, max y saveAsTextFile

import findspark
findspark.init()
from pyspark.sql import SparkSession

import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [2]:
importes = sc.textFile('./num.txt')
importes.collect()

['70',
 '69',
 '16',
 '80',
 '85',
 '81',
 '93',
 '5',
 '78',
 '21',
 '13',
 '77',
 '93',
 '31',
 '16',
 '84',
 '64',
 '29',
 '45',
 '24',
 '64',
 '31',
 '2',
 '55',
 '51',
 '92',
 '72',
 '84',
 '22',
 '50',
 '17',
 '5',
 '96',
 '63',
 '67',
 '82',
 '52',
 '38',
 '86',
 '23',
 '90',
 '96',
 '53',
 '95',
 '10',
 '28',
 '75',
 '72',
 '67',
 '82',
 '40',
 '60',
 '34',
 '26',
 '47',
 '55',
 '10',
 '46',
 '86',
 '46',
 '64',
 '37',
 '31',
 '43',
 '74',
 '44',
 '87',
 '7',
 '54',
 '95',
 '43',
 '79',
 '79',
 '53',
 '62',
 '13',
 '37',
 '45',
 '40',
 '81',
 '50',
 '41',
 '30',
 '81',
 '27',
 '27',
 '49',
 '97',
 '73',
 '99',
 '77',
 '64',
 '47',
 '68',
 '8',
 '79',
 '13',
 '49',
 '75',
 '2',
 '23',
 '94',
 '21',
 '2',
 '10',
 '9',
 '19',
 '75',
 '7',
 '27',
 '55',
 '38',
 '10',
 '39',
 '73',
 '21',
 '81',
 '1',
 '61',
 '62',
 '5',
 '91',
 '68',
 '35',
 '81',
 '91',
 '34',
 '24',
 '63',
 '61',
 '32',
 '11',
 '74',
 '43',
 '98',
 '18',
 '25',
 '33',
 '31',
 '32',
 '42',
 '97',
 '11',
 '28',
 '14',
 '49',
 '34',
 '78',
 '50',
 '76',
 '25',
 '79',
 '61',
 '15',
 '57',
 '60',
 '61',
 '52',
 '94',
 '32',
 '30',
 '71',
 '16',
 '32',
 '26',
 '30',
 '42',
 '36',
 '45',
 '1',
 '91',
 '47',
 '19',
 '43',
 '71',
 '41',
 '95',
 '12',
 '64',
 '95',
 '51',
 '39',
 '55',
 '99',
 '12',
 '98',
 '97',
 '37',
 '25',
 '45',
 '36',
 '13',
 '63',
 '81',
 '16',
 '56',
 '33',
 '61',
 '31',
 '39',
 '84',
 '30',
 '97',
 '37',
 '29',
 '94',
 '76',
 '39',
 '62',
 '12',
 '97',
 '90',
 '50',
 '85',
 '25',
 '28',
 '35',
 '63',
 '25',
 '56',
 '43',
 '18',
 '57',
 '20',
 '62',
 '51',
 '63',
 '27',
 '82',
 '71',
 '24',
 '7',
 '70']

In [3]:
importes.count()

233

In [4]:
importes.min()

'1'

In [5]:
importes.max()

'99'

In [ ]:
lista_15 = importes.top(15) # retorna los 15 mayores valores
lista_15 # es un objeto de tipo lista, no un rdd

['99',
 '99',
 '98',
 '98',
 '97',
 '97',
 '97',
 '97',
 '97',
 '96',
 '96',
 '95',
 '95',
 '95',
 '95']

In [8]:
top15 = sc.parallelize(lista_15)
top15.coalesce(1).saveAsTextFile('./top15')

In [9]:
def factorial(n):
    if n == 0 :
        return 1
    else:
        rdd = sc.parallelize(list(range(1,n+1)))
        return rdd.reduce(lambda x,y: x*y)

In [10]:
factorial(5)

120

In [11]:
factorial(3)

6